.image-upload-footer p{
	display: inline
}
.image-upload  input[type=file]{
    display: none;

}
.image-upload label{
	margin-bottom: 0;
}
.image-upload img{
	cursor: pointer;
}
.profileback .deleteThis{
	position: absolute;
    top: 6px;
    right: 21px;
    padding: 0;
}
.deleteThis span{
	color: #fff
}
.image-upload-footer{
	background-color: rgba(34, 34, 34, 0.87);
 	margin-top: -6px;
 	padding: 4px 10px;
}
.image-upload-footer button{
    padding: 0px 5px;
    border-radius: 100%;
    margin-left: 15px;
}
.image-upload-footer button span,.image-upload-footer p{
	color: #fff ;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.gallery {
    height: 150px;
    width: 150px;
}

.gallery .image-upload {
	height: 150px;
	width: 150px;
}

.image_upload_preview1 {
	height: 150px;
	width: 150px;
}